*{
    margin: 0;
    padding: 0;
}
body {
    background: #3D3B39;
    font-family: Montserrat;
    color: white;
}
h1 {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    font-family: Montserrat;
    color: white;

}
main{
    width: 500px;
    margin: auto;
}
.boutton{
    position: fixed;
    width: 40px;
    left: 15px;
    top: 15px;
}
.player{
    font-size: 20px;
}

.reset{
    position: absolute;
    left: 500px;
    top: 500px;
    height: 100px;
    width: 100px;
}

/*  */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-left: 3%;
    padding-right: 3%;
    flex-direction: row;
}
.chessboard{
    border-radius: 10px;
    width: 85vmin;
    max-width: 800px;
    min-width: 200px;
    position: relative;
    aspect-ratio: 1/1;
    background-image: url(phprnyp9x.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.gameReview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 5%;
    height: 95%;
    width: 30%;
    min-width: 300px;
    background-color: #272522;
}
.endGameReview{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 5%;
    height:30%;
    width: 30%;
    min-width: 300px;
    background-color: #272522;
    border-color: white;
    border: solid;
    box-shadow:  2px 2px 15px rgba(0, 0, 0, 0.4);

}

/* breakpoint */

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
    .menu{
        display: none;
    }


}
@media only screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        height: 80vh;
        min-height: 700px;
        margin-top: 10%;

    }
    .gameReview{
        width: 90%;
        height: 30%;
        margin-left: 0;
        margin-top: 5%;
        min-height: 200px;
        max-width: 500px;
    }
    .chessboard{
        max-width:500px;
    }

} 

@media only screen and (max-width: 600px) {
    .container{
        margin-top: 5%;
        min-height: 0;
    }
    h1{
        font-size: 25px;
    }

} 





.whiteplayer{
    display: flex;
    font-size: 20px;
}
.blackplayer{
    display:none;
    font-size: 20px;
}
.whitesquare{
    width: 20px;
    height: 20px;
    border: solid;
    border-color: #3D3B39;
    background-color: aliceblue;
    margin-left: 15px;
    border-radius: 3px;
}
.blacksquare{
    width: 20px;
    height: 20px;
    border: solid;
    border-radius: 3px;
    border-color: aliceblue;
    background-color: #3D3B39;
    margin-left: 15px;
}

.case{
    border: none;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background: transparent;
    bottom: var(--y);
    left:var(--x);
}
.pionBlanc{
    height: 12.5%;
    position: absolute;
    bottom: var(--y);
    left:var(--x);

}
.PromotedPiece{
    width: 100%;
    position: absolute;
    bottom: var(--y);
}
.whitePromotion{
    background-color: white;
    height: 50%;
    width: 12.5%;
    position: absolute;
    left:var(--x);
    border-radius: 10px;
    box-shadow:  2px 2px 15px rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
}
.blackPromotion{
    bottom: 0;
    background-color: white;
    height: 50%;
    width: 12.5%;
    position: absolute;
    left:var(--x);
    border-radius: 10px;
    box-shadow:  2px 2px 15px rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
}


.pionNoir{
    height: 12.5%;
    position: absolute;
    bottom: var(--y);
    left:var(--x);

}
#b00{
    visibility: hidden;
}

.mort{
    display: none;
}


/* side bar */

.sidebar header{
    margin-left: 15px;
    margin-top: 15px;
}
.sidebar{
    z-index: 1;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #272522;
    transition: .2s;
}
.sidebar ul a{
    margin-left: 15px;
    line-height: 50px;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    transition: .4s;
}
ul li:hover a{
    margin-left: 70px;

}
span{
    margin-left: 5px;
}
.picture{
    width: 30px;
    vertical-align: middle;
}
.menu{
    position: fixed;
    width: 120px;
    left: 85px;
    top: 20px;
}
#check{
    display: none;
}
#check:checked ~ .sidebar{
    left: 0;
}
